{% extends 'base.html' %}

{% block title %}
Product {{ product.pk }}
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href='{% url 'create_view' %}'>Создать запись</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href='{% url 'update_view' product.pk %}'>Редактировать запись</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="#">Удалить запись</a>
    </li>
{% endblock %}

{% block content %}
        <div class="text-center my-5">
            <h1 class="text-success"> Просмотр записи №{{ product.id }}</h1>
        </div>
        <div class="alert alert-success" role="alert">
            <h6>Наименование товара: {{ product.title }}</h6>
            <h6>Категория товара: {{ product.get_category_display }}</h6>
            <p>Остаток: {{ product.balance }}</p>
            <p>Цена: {{ product.price }}</p>
            {% if product.description%}
                <p>Описание товара: {{ product.description }}</p>
            {% else %}
                <p>Описание товара: НЕТ</p>
            {% endif %}
        </div>
{% endblock %}
