{% extends 'base.html' %}

{% block title %}
Products
{% endblock %}

{% block content %}
        <div class="mb-4">
            <h2 class="text-success">Текущие Записи</h2>
        </div>
        {% include 'partial/simple_search.html' %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
            {% for product in products %}
                <div class="col my-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Категория: {{ product.get_category_display }}</h6>
                            <p class="card-text">Цена: {{ product.price }}</p>
                            <a href="{% url 'product_view' product.pk %}" class="btn btn-warning w-100 my-2">Подробнее</a>
                            <form action="{% url 'cart_add' product.pk %}" method="post">
                                {% csrf_token %}
                                <p><input type="submit" value=" Добавить в корзину "></p>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{% endblock %}